<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EasyGas Invoice</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            font-size: 15px;
            line-height: 20px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="invoice-box">
    </div>
</body>
</html>